@model MovieTimeProject.Models.Movies.DetailsMovieViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/generalLayout.css" type="text/css" rel="stylesheet" />
    <link href="~/css/movieDescription.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

</head>

<body>
    <div class="content">

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p> <img src="@Url.Content(String.Format("~/coverPhotos{0}", Model.Movie.PosterPath))" /> </p>

                </div>
                <div class="col-sm-6">
                    <div class="describe">
                        <h1> @Model.Movie.Title </h1>
                        <p> @Model.Movie.Overview </p>
                        <p> Release day: @Model.Movie.ReleaseDate.ToString().Substring(0, Math.Min(Model.Movie.ReleaseDate.ToString().Length, 10)) </p>
                        <p style="text-align : left">  Genres: </p>
                        <ul>
                            @foreach (var movieGenre in Model.Movie.Genres)
                            {
                                <li>@movieGenre.Genre.GenreName</li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <span class="heading">User Rating</span>
        @for (int i = 0; i < 5; i++)
        {
            @if (i < Model.Movie.ReviewScoreValue)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <!--open like a pop up -->
            <a onclick="window.open('@Url.Action("Create", "Comments")',
                         'newwindow',
                         'width=400,height=400');
              return false;" class="btn"><span>+</span></a>
        }


        <p>@Model.Movie.ReviewScoreValue average based on @Model.MovieScores.NumberOfReviewsForMovie reviews.</p>
        <hr style="border:3px solid #f1f1f1">

        <div class="row">
            <div class="side">
                <div>5 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                    <div class="bar-5" , style="width:@(Model.MovieScores.oneSPercent + "%");"></div>
                </div>
            </div>

            <div class="side right">
                <div>@Model.MovieScores.oneStar</div>
            </div>

            <div class="side">
                <div>4 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                    <div class="bar-4" , style="width:@(Model.MovieScores.oneSPercent + "%");"></div>
                </div>
            </div>

            <div class="side right">
                <div>@Model.MovieScores.twoStars</div>
            </div>

            <div class="side">
                <div>3 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                    <div class="bar-3" , style="width:@(Model.MovieScores.oneSPercent + "%");"></div>
                </div>
            </div>

            <div class="side right">
                <div>@Model.MovieScores.threeStars</div>
            </div>

            <div class="side">
                <div>2 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                    <div class="bar-2" , style="width:@(Model.MovieScores.oneSPercent + "%");"></div>
                </div>
            </div>

            <div class="side right">
                <div>@Model.MovieScores.fourStars</div>
            </div>

            <div class="side">
                <div>1 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                    <div class="bar-1" , style="width:@(Model.MovieScores.oneSPercent + "%");"></div>
                </div>
            </div>

            <div class="side right">
                <div>@Model.MovieScores.fiveStars</div>
            </div>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <a onclick="AddToWishList()" class="btn"><span>+ Add to Wish List</span></a>
            <a onclick="AddToSeenList()" class="btn"><span>+ Add to Seen List</span></a>
        }
        <a href="@Url.Action("Index", "Comments", new { movieId = Model.Movie.Id }) " class="btn"><span>Comments</span></a>

    </div>

    <script>

        function AddToWishList() {
            var myData = {
                idMovie: '@Model.Movie.Id' };

           $.ajax({
               type: "POST",
               datatype: "JSON",
               url: "@Url.Action("AddToWishList", "Movies")",
               data: myData,
               success: function ()
                    {
                        alert("success");
                    },
               error: function ()
                    {
                        alert("error");
                    }
                });
        }

        function AddToSeenList() {
            var myData = {
                idMovie: '@Model.Movie.Id' };

           $.ajax({
               type: "POST",
               datatype: "JSON",
               url: "@Url.Action("AddToSeenList", "Movies")",
               data: myData,
               success: function ()
                    {
                        alert("success");
                    },
               error: function ()
                    {
                        alert("error");
                    }
                });
        }

            var review;
            var comment;
            function setStars(reviewScore) {
                review = reviewScore;
            }

            function setComment(commentValue) {
                comment = commentValue;
                var myData = { reviewScore: review, comment: comment, idMovie: '@Model.Movie.Id'}
                $.ajax({
                    type: "POST",
                    datatype: "JSON",
                    url: "@Url.Action("CreateComment", "Movies")",
                    data: myData,
                    success: function ()
                    {
                        alert("success");
                    },
                    error: function ()
                    {
                        alert("error");
                    }
                });
            }

    </script>
</body>
